/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   body {
    font-family: "Lato", "Helvetica Neue",Helvetica,Arial,sans-serif;
    /*background: url(/img/bg-login.jpg) !important;*/
  }
  .active {
    color: #0088cc;
  }

  /* IE 6 */
  * html footer {
     position:absolute;
     top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
  }


.well [class^="span"] {
    border-right: 10px solid #e3e3e3;
}




/* Facebook button */


a.fb-button {
    color: #FFF;
    display: inline-block;
    text-decoration: none;
}

.fb-button {
    background: #5F78AB;
    background-image: url('http://static.ak.fbcdn.net/rsrc.php/v2/yf/r/S-DbSHszr4D.png');  /*COPY TO YOUR OWN IMAGE STORE*/
    background-repeat: no-repeat;
    background-position: -1px -81px;
    border-top: 1px solid #29447E;
    border-right: 1px solid #29447E;
    border-bottom: 1px solid #1A356E;
    border-left: 1px solid #29447E;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8A9CC2;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8A9CC2;
    cursor: pointer;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 23px;
    line-height: 23px;
    padding: 0px 5px 0px 30px;
       text-align: left;

}

.fb-div {
    margin: 0px 20px 0px 20px;
    float:right;
}

/* Thumbnails */
.thumbnails-item {
  border: 3px solid #ccc;
}


  label.valid {
    width: 24px;
    height: 24px;
    background: url(assets/img/valid.png) center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
  }
  label.error {
    font-weight: bold;
    color: red;
    padding: 2px 0px;
    margin-top: 2px;
  }

      /*this is what we want the div to look like
    when it IS showing*/
  .loading{

    filter: alpha(opacity=75); /* internet explorer */
    -khtml-opacity: 0.75;      /* khtml, old safari */
    -moz-opacity: 0.75;       /* mozilla, netscape */
  }
  .avatar img {
    height: 36px;
    width: 36px;
    padding: 1px;
    float: left;
    margin-top: 1px;
    margin-right: 10px;
    border: 1px solid #EBEBEB;
  }