<!-- Modal -->
<div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Modal header</h3>
	</div>
	<div class="modal-body">
		<p>One fine body…</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn-danger" id="modal-form-submit">Delete</button>
	</div>
</div>
<form action="{{ path('task_delete', { 'id': entity.id }) }}" method="post" {{ form_enctype(delete_form) }} id="delete-task" >
	{{ form_widget(delete_form) }}
</form>