<div class="alert alert-block warning" id="no-requests" style="display:none">
    <h4 class="alert-heading">Warning!</h4>
    <p>No hay ninguna tarea creada. Puedes crear nuevas tareas usando <a href="{{ path('api_new_task') }}" class="ajaxy">este formulario</a>.</p>
</div>