<div class="alert alert-block warning" id="no-requests" style="display:none">
    <h4 class="alert-heading">Warning!</h4>
    <p>No hay ninguna invitación enviada. Si quieres enviar invitaciones por email utiliza <a href="{{ path('frequest_new') }}" class="ajaxy">este formulario</a> o si quieres invitar a tus amigos de facebook utiliza <a href="{{ path('import_fb') }}">este otro formulario</a>.</p>
</div>