<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en" <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" {% block xmlns %}{% endblock %}> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>Taskul</title>
    <meta name="description" content="Perfectum Dashboard Bootstrap Admin Template.">
    <meta name="author" content="Åukasz Holeczek">
    <!-- end: Meta -->

    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    {% stylesheets
    '@MainBundle/Resources/public/css/jquery-ui-1.8.21.custom.css'
    '@MainBundle/Resources/public/css/uniform.default.css'
    '@MainBundle/Resources/public/css/jquery.noty.css'
    '@MainBundle/Resources/public/css/noty_theme_default.css'
    '@MainBundle/Resources/public/css/jquery.iphone.toggle.css'
    '@MainBundle/Resources/public/css/jquery.gritter.css'
    '@MainBundle/Resources/public/css/font-awesome.css'
    '@MainBundle/Resources/public/css/font-awesome-ie7.css'
    '@MainBundle/Resources/public/css/style.css'
    '@MainBundle/Resources/public/css/style-responsive.css'
    '@MainBundle/Resources/public/css/main.css'
    '@FOSCommentBundle/Resources/assets/css/comments.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% block stylesheets%}{% endblock %}
    {% javascripts '@MainBundle/Resources/public/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js'%}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>
    {% block body %}
    {% endblock %}
</body>


<script>
           /* var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));*/
</script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<!-- jQuery ScrollTo Plugin -->
<script src="//balupton.github.com/jquery-scrollto/scripts/jquery.scrollto.min.js"></script>

<!-- History.js -->
 <!-- <script src="//browserstate.github.com/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>-->
    <!-- Ajaxify -->
{% javascripts
    '@MainBundle/Resources/public/js/vendor/bootstrap.min.js'
    '@MainBundle/Resources/public/js/vendor/noty/jquery.noty.js'
    '@MainBundle/Resources/public/js/vendor/noty/layouts/center.js'
    '@MainBundle/Resources/public/js/vendor/noty/themes/default.js'
    '@MainBundle/Resources/public/js/vendor/jquery.form.js'
    '@MainBundle/Resources/public/js/plugins.js'
    '@MainBundle/Resources/public/js/main.js'
    '@MainBundle/Resources/public/js/ajaxify.js'
    %}
    <!--'@MainBundle/Resources/public/js/ajaxify-html5.js'-->
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/additional-methods.min.js"></script>


    <script src="/js/extra/jquery.uniform.min.js"></script>
    <script src="/js/extra/jquery.noty.js"></script>
    <script src="/js/extra/custom.js"></script>
    {% block javascripts %}{% endblock %}
    </html>
