{% extends app.request.isXmlHttpRequest ? "::base_ajax.html.twig" : "UserBundle::layout.html.twig" %}
{% block content %}
{% if not  app.request.isXmlHttpRequest %}
<div id="content">
{% endif %}
{% block fos_user_content %}
<div class="row-fluid">
<div class="login-box">
<p>
{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
</p>
</div>
</div>
{% endblock %}
{% if not  app.request.isXmlHttpRequest %}
</div>
{% endif %}
{% endblock %}
