{% extends app.request.isXmlHttpRequest ? "::base_ajax.html.twig" : "UserBundle::layout.html.twig" %}
{% block content %}
{% block fos_user_content %}
<div class="row-fluid">
<div class="login-box">
<label class="error">{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</label>
</div>
</div>
{% endblock fos_user_content %}
{% endblock %}