{% extends app.request.isXmlHttpRequest ? "::base_ajax.html.twig" : "UserBundle::layout.html.twig" %}
{% block content %}
{% block fos_user_content %}
<div id="reset_pwd" class="reset_page">
        <div class="container">
            <div class="row">
                <div class="span12 box_wrapper">
                    <div class="span12 box">
                        <div>
                            <div class="head">
                            <h4><label class="error">{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</label></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock fos_user_content %}
{% endblock %}