

<div id="reset_pwd" class="reset_page">

    <div class="container">
        <div class="row">
            <div class="span12 box_wrapper">
                <div class="span12 box">
                    <div>
                        <div class="head">

                            <h4>{% trans %}Request your password{% endtrans %}</h4>
                            <p>{{'requestpassword.info'|trans({},'MainBundle')}}</p>
                            <div class="line"></div>
                        </div>
                        <div class="form">
                            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="ajaxform" id="form_request-password">

                                <fieldset>
                                    <div class="control-group  {% if invalid_username is defined %} error {% endif %}">
                                        <div class="input-prepend" title="Username">
                                            <span class="add-on"><i class="icon-user"></i></span>
                                            <input class="email required" name="username" id="username"  name="_username" value="" type="text" placeholder="{% trans %}Enter your email to contact{% endtrans %}"/>
                                        </div>
                                        {% if invalid_username is defined %}
                                        <label class="error" for="username">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</label>
                                        {% endif %}
                                    </div>

                                    <input type="submit" name="_submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>