{% extends "::private.html.twig" %}
{% block content %}

<div class="row-fluid">

	<div ondesktop="span8" ontablet="span12" class="box span8">
		<div class="box-header">
			<h2><i class="icon-signal"></i><span class="break"></span>Site Statistics</h2>
			<div class="box-icon">
				<a class="btn-minimize" href="#"><i class="icon-chevron-up"></i></a>
			</div>
		</div>
		<div class="box-content">
			{% for action in timeline %}
        <div class="timeline-entry">
            {{ timeline_render(action) }}
        </div>
    		{% else %}
        <p>There is no action</p>
			{% endfor %}
		</div>
	</div>

	<div ondesktop="span4" ontablet="span12" class="box span4 noMargin">
		<div class="box-header">
			<h2><i class="icon-list"></i><span class="break"></span>Weekly Stat</h2>
			<div class="box-icon">
				<a class="btn-minimize" href="#"><i class="icon-chevron-up"></i></a>
				<a class="btn-close" href="#"><i class="icon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">
			<div class="sparkLineStats">

				<ul class="unstyled">
					<li>
						<span class="sparkLineStats1 "><canvas style="display: inline-block; width: 100px; height: 30px; vertical-align: top;" width="100" height="30"></canvas></span>
						Visits:
						<span class="number">356</span>
					</li>
					<li>
						<span class="sparkLineStats2"><canvas style="display: inline-block; width: 100px; height: 30px; vertical-align: top;" width="100" height="30"></canvas></span>
						Unique Visitors:
						<span class="number">252</span>
					</li>
					<li><span class="sparkLineStats3"><canvas style="display: inline-block; width: 100px; height: 30px; vertical-align: top;" width="100" height="30"></canvas></span>
						Pageviews:
						<span class="number">781</span>
					</li>
					<li><span class="sparkLineStats4"><canvas style="display: inline-block; width: 100px; height: 30px; vertical-align: top;" width="100" height="30"></canvas></span>
						Pages / Visit:
						<span class="number">2,19</span>
					</li>
					<li><span class="sparkLineStats5"><canvas style="display: inline-block; width: 100px; height: 30px; vertical-align: top;" width="100" height="30"></canvas></span>
						Avg. Visit Duration:
						<span class="number">00:02:58</span>
					</li>
					<li><span class="sparkLineStats6"><canvas style="display: inline-block; width: 100px; height: 30px; vertical-align: top;" width="100" height="30"></canvas></span>
						Bounce Rate: <span class="number">59,83%</span>
					</li>
					<li><span class="sparkLineStats7"><canvas style="display: inline-block; width: 100px; height: 30px; vertical-align: top;" width="100" height="30"></canvas></span>
						% New Visits:
						<span class="number">70,79%</span>
					</li>
					<li><span class="sparkLineStats8"><canvas style="display: inline-block; width: 100px; height: 30px; vertical-align: top;" width="100" height="30"></canvas></span>
						% Returning Visitor:
						<span class="number">29,21%</span>
					</li>

				</ul>

			</div><!-- End .sparkStats -->
		</div>
	</div><!--/span-->

</div>
{% endblock %}