{% extends "::private.html.twig" %}
{% block content %}

<div class="row-fluid">

	<div ondesktop="span8" ontablet="span12" class="box span8">
		<div class="box-header">
			<h2><i class="icon-signal"></i><span class="break"></span>Site Statistics</h2>
			<div class="box-icon">
				<a class="btn-setting" href="#"><i class="icon-wrench"></i></a>
				<a class="btn-minimize" href="#"><i class="icon-chevron-up"></i></a>
				<a class="btn-close" href="#"><i class="icon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">
			<div style="height: 300px; padding: 0px; position: relative;" class="center" id="stats-chart"><canvas class="base" width="969" height="300"></canvas><canvas class="overlay" width="969" height="300" style="position: absolute; left: 0px; top: 0px;"></canvas><div style="font-size:smaller" class="tickLabels"><div style="color:#545454" class="xAxis x1Axis"><div style="position:absolute;text-align:center;left:25px;top:280px;width:60px" class="tickLabel">2</div><div style="position:absolute;text-align:center;left:90px;top:280px;width:60px" class="tickLabel">4</div><div style="position:absolute;text-align:center;left:155px;top:280px;width:60px" class="tickLabel">6</div><div style="position:absolute;text-align:center;left:220px;top:280px;width:60px" class="tickLabel">8</div><div style="position:absolute;text-align:center;left:285px;top:280px;width:60px" class="tickLabel">10</div><div style="position:absolute;text-align:center;left:350px;top:280px;width:60px" class="tickLabel">12</div><div style="position:absolute;text-align:center;left:415px;top:280px;width:60px" class="tickLabel">14</div><div style="position:absolute;text-align:center;left:480px;top:280px;width:60px" class="tickLabel">16</div><div style="position:absolute;text-align:center;left:545px;top:280px;width:60px" class="tickLabel">18</div><div style="position:absolute;text-align:center;left:610px;top:280px;width:60px" class="tickLabel">20</div><div style="position:absolute;text-align:center;left:675px;top:280px;width:60px" class="tickLabel">22</div><div style="position:absolute;text-align:center;left:740px;top:280px;width:60px" class="tickLabel">24</div><div style="position:absolute;text-align:center;left:805px;top:280px;width:60px" class="tickLabel">26</div><div style="position:absolute;text-align:center;left:870px;top:280px;width:60px" class="tickLabel">28</div><div style="position:absolute;text-align:center;left:935px;top:280px;width:60px" class="tickLabel">30</div></div><div style="color:#545454" class="yAxis y1Axis"><div style="position:absolute;text-align:right;top:265px;right:951px;width:18px" class="tickLabel">0</div><div style="position:absolute;text-align:right;top:246px;right:951px;width:18px" class="tickLabel">10</div><div style="position:absolute;text-align:right;top:226px;right:951px;width:18px" class="tickLabel">20</div><div style="position:absolute;text-align:right;top:207px;right:951px;width:18px" class="tickLabel">30</div><div style="position:absolute;text-align:right;top:188px;right:951px;width:18px" class="tickLabel">40</div><div style="position:absolute;text-align:right;top:168px;right:951px;width:18px" class="tickLabel">50</div><div style="position:absolute;text-align:right;top:149px;right:951px;width:18px" class="tickLabel">60</div><div style="position:absolute;text-align:right;top:130px;right:951px;width:18px" class="tickLabel">70</div><div style="position:absolute;text-align:right;top:110px;right:951px;width:18px" class="tickLabel">80</div><div style="position:absolute;text-align:right;top:91px;right:951px;width:18px" class="tickLabel">90</div><div style="position:absolute;text-align:right;top:71px;right:951px;width:18px" class="tickLabel">100</div><div style="position:absolute;text-align:right;top:52px;right:951px;width:18px" class="tickLabel">110</div><div style="position:absolute;text-align:right;top:33px;right:951px;width:18px" class="tickLabel">120</div><div style="position:absolute;text-align:right;top:13px;right:951px;width:18px" class="tickLabel">130</div><div style="position:absolute;text-align:right;top:-6px;right:951px;width:18px" class="tickLabel">140</div></div></div><div class="legend"><div style="position: absolute; width: 74px; height: 44px; top: 9px; right: 9px; background-color: rgb(252, 252, 252); opacity: 0.85;"> </div><table style="position:absolute;top:9px;right:9px;;font-size:smaller;color:#545454"><tbody><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(250,88,51);overflow:hidden"></div></div></td><td class="legendLabel">pageviews</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(47,171,233);overflow:hidden"></div></div></td><td class="legendLabel">visitors</td></tr></tbody></table></div></div>
		</div>
	</div>

	<div ondesktop="span4" ontablet="span12" class="box span4 noMargin">
		<div class="box-header">
			<h2><i class="icon-list"></i><span class="break"></span>Weekly Stat</h2>
			<div class="box-icon">
				<a class="btn-minimize" href="#"><i class="icon-chevron-up"></i></a>
				<a class="btn-close" href="#"><i class="icon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">
			<div class="sparkLineStats">

				<ul class="unstyled">
					<li>
						<span class="sparkLineStats1 "><canvas style="display: inline-block; width: 100px; height: 30px; vertical-align: top;" width="100" height="30"></canvas></span>
						Visits:
						<span class="number">356</span>
					</li>
					<li>
						<span class="sparkLineStats2"><canvas style="display: inline-block; width: 100px; height: 30px; vertical-align: top;" width="100" height="30"></canvas></span>
						Unique Visitors:
						<span class="number">252</span>
					</li>
					<li><span class="sparkLineStats3"><canvas style="display: inline-block; width: 100px; height: 30px; vertical-align: top;" width="100" height="30"></canvas></span>
						Pageviews:
						<span class="number">781</span>
					</li>
					<li><span class="sparkLineStats4"><canvas style="display: inline-block; width: 100px; height: 30px; vertical-align: top;" width="100" height="30"></canvas></span>
						Pages / Visit:
						<span class="number">2,19</span>
					</li>
					<li><span class="sparkLineStats5"><canvas style="display: inline-block; width: 100px; height: 30px; vertical-align: top;" width="100" height="30"></canvas></span>
						Avg. Visit Duration:
						<span class="number">00:02:58</span>
					</li>
					<li><span class="sparkLineStats6"><canvas style="display: inline-block; width: 100px; height: 30px; vertical-align: top;" width="100" height="30"></canvas></span>
						Bounce Rate: <span class="number">59,83%</span>
					</li>
					<li><span class="sparkLineStats7"><canvas style="display: inline-block; width: 100px; height: 30px; vertical-align: top;" width="100" height="30"></canvas></span>
						% New Visits:
						<span class="number">70,79%</span>
					</li>
					<li><span class="sparkLineStats8"><canvas style="display: inline-block; width: 100px; height: 30px; vertical-align: top;" width="100" height="30"></canvas></span>
						% Returning Visitor:
						<span class="number">29,21%</span>
					</li>

				</ul>

			</div><!-- End .sparkStats -->
		</div>
	</div><!--/span-->

</div>
{% endblock %}