{% extends app.request.isXmlHttpRequest ? "::base_ajax.html.twig" : "::public.html.twig" %}
{% block content %}
    <section id="feature_slider" class="">
        <!--
            Each slide is composed by <img> and .info
            - .info's position is customized with css in index.css
            - each <img> parallax effect is declared by the following params inside its class:

            example: class="asset left-472 sp600 t120 z3"
            left-472 means left: -472px from the center
            sp600 is speed transition
            t120 is top to 120px
            z3 is z-index to 3
            Note: Maintain this order of params

            For the backgrounds, you can combine from the bgs folder :D
        -->
        <article class="slide" id="showcasing" style="background: url('img/backgrounds/deep-green.jpg') repeat-x top center;">
            <img class="asset left-30 sp600 t120 z1" src="img/slides/scene1/taskul_net-list_b.png" />
            <div class="info">
                <h2>Organízate con Eficacia y Fácilmente.</h2>
                <a href="{{ path('fos_user_security_login') }}" class="ajaxy btn-trans">Regístrate (es gratis)</a>
            </div>
        </article>
        <article class="slide" id="responsive" style="background: url('img/backgrounds/aqua.jpg') repeat-x top center;">

            <img class="asset left-472 sp600 t120 z3" src="img/slides/scene2/taskul_net-files1_b.png" />
            <img class="asset left-210 sp500 t120 z2" src="img/slides/scene2/taskul_net-files2_b.png" />
            <div class="info">
                <h2>Asocia ficheros y compártelos.</h2>
            </div>
        </article>
        <article class="slide" id="tour" style="background: url('img/backgrounds/color-splash.jpg') repeat-x top center;">
            <img class="asset left-472 sp650 t110 z3" src="img/slides/scene3/taskul_edit1_b.png" />
            <div class="info">
                <h2>Añade comentarios</h2>
                <a href="{{ path('homepage') }}#features">Ver todas las características</a>
            </div>
        </article>
    </section>
    <div  name="features" id="features" class="features_page">
        <div class="container">
             <!-- Feature Wrapper -->
            <div class="feature_wrapper option2">
                <div class="section_header">
                    <h3>Organíza tus tareas y proyectos</h3>
                </div>
                <div class="row subtitle">
                    <h2>
                        Taskul es un programa que ayuda a los profesionales más ocupados y equipos a organizar su tiempo y proyectos.
                    </h2>
                </div>
                <!-- Features Row -->
                <div class="row">
                    <!-- Feature -->
                    <div class="span6 feature">
                        <div class="box">
                            <img class="one" src="img/features-ico4.png" />
                        </div>
                        <div class="text">
                            <h6>Asociar compañeros</h6>
                            <p>
                               Podrás asociar amigos / compañeros en tus tareas para compartirlas y gestionarlas en grupo</p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="span6 feature right">
                        <div class="box">
                            <img class="two" src="img/features-ico5.png" />
                        </div>
                        <div class="text">
                            <h6>Gestión de ficheros</h6>
                            <p>
                                Podrás asociar ficheros a tus tareas, que compartirás con los miembros de esta tarea</p>
                        </div>
                    </div>
                </div>

                <!-- Features Row -->
                <div class="row last">
                    <!-- Feature -->
                    <div class="span6 feature">
                        <div class="box">
                            <img class="one" src="img/features-ico6.png" />
                        </div>
                        <div class="text">
                            <h6>Mensajes privados</h6>
                            <p>
                                Podrás intercambiar mensajes privados con tus contactos</p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="span6 feature right">
                        <div class="box">
                            <img class="two" src="img/features-ico7.png" />
                        </div>
                        <div class="text">
                            <h6>Comentarios</h6>
                            <p>
                                Podrás asociar comentarios a tus taareas, así como los miembros de tus tareas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="helpus" name="help-us" class="features_page">
        <div class="container">
            <div class="section_header">
                <h3>Ayúdanos a mejorar</h3>
            </div>
            <div class="row intro">
                <h6>
                    Estaremos encantados de recibir tus opiniones, observaciones y mejoras sobre el gestor de tareas. Ayudanos a mejorar taskul.
                    Estamos en constante mejora.
                </h6>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% javascripts
    '@MainBundle/Resources/public/js/index-slider.js'
    %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}