{% extends app.request.isXmlHttpRequest ? "::base_ajax.html.twig" : "::public.html.twig" %}
{% block content %}
<div id="service_2" class="top140">
        <div class="container">
            <div class="section_header">
                <h3>Política de privacidad</h3>
            </div>
            <div class="row perk">
                <div class="span2 circle circle1">
                    <img src="img/service_ico1.png" alt="">
                </div>

                <div class="span10 description_wrapper">
                    <h5>Admisión</h5>
                    <p>
Este Sitio está pensado exclusivamente para usuarios que tienen 18 años o más. La inscripción, uso o acceso al Sitio por personas menores de 18 años no está autorizado e incumple las Condiciones de Uso.
Si te registras en este Sitio admites que has leído y entendido nuestras Condiciones de Uso.</p>
<h5>Tus obligaciones</h5>

<p>Aceptas dar información exacta, actual y completa acerca de ti; actualizarla cuando sea necesario; preservar la seguridad de tu contraseña e identificación; y ser totalmente responsable de todo el uso de tu cuenta y de todas las acciones que tengan lugar utilizando tu cuenta.
Debes cumplir todas las leyes actuales.
Si te suscribes a alguno de nuestros servicios de pago, debes pagar las cantidades acordadas cuando corresponda, y los impuestos relacionados.
Debes leer y aceptar completamente nuestra Política de Privacidad.</p>
<h5>Tus derechos</h5>

<p>Bajo la condición de que cumplas con tus obligaciones, te concedemos un acceso restringido, revocable, no exclusivo e intransferible mediante un navegador de internet para ver la información que proporcionamos en nuestras páginas.
Si te suscribes a un servicio, te concedemos un acceso restringido, revocable, no exclusivo e intransferible a dicho servicio a través de un navegador de internet.</p>
<h5>Nuestros derechos y obligaciones</h5>

<p>FacileThings proporcionará su plataforma y sus servicios, los cuales pueden ser actualizados, mejorados, suspendidos y cambiados en cualquier momento, con el propósito de proporcionar a sus usuarios aplicaciones de gestión en la red. Podemos modificar, reemplazar, rechazar el acceso o suspender FacileThings, parcial o completamente, o cobrar y modificar precios. Todos estos cambios se harán efectivos después de su publicación en el Sitio o del envío de correos electrónicos a los usuarios.
Nos reservamos el derecho de cesar tu cuenta si determinamos, a nuestro criterio, que debemos hacerlo.</p>
<h5>Descargo de responsabilidad</h5>

<p>FacileThings no tiene obligación de verificar la identidad de sus usuarios ni de supervisar el contenido que ha sido proporcionado por sus usuarios.
FacileThings no es responsable del uso incorrecto de la información por parte de un usuario.
FacileThings no garantiza que los servicios que proporciona funcionen sin interrupción o sin errores de funcionamiento.
Si estás descontento con el servicio de FacileThings puedes abandonarlo y romper este acuerdo, en cualquier momento.</p>
<h5>Causar baja</h5>

<p>Puedes causar baja en cualquier momento, por cualquier causa o sin ella, a través del enlace Cancelar cuenta disponible en la opción Cuenta
En cuanto causas baja, pierdes el acceso a FacileThings, y los datos introducidos.</p>
<h5>Información de contacto</h5>

<p>Si tienes cualquier pregunta o comentario acerca de las Condiciones de Uso, por favor envíanos un correo electrónico.</p>
<h5>Cambios en las condiciones de Uso</h5>

<p>Nos reservamos el derecho de modificar, complementar o reemplazar las Condiciones de Uso, haciéndolas efectivas al publicarlas en el Sitio o notificándolas de cualquier otra manera. Si no estás de acuerdo con los cambios establecidos, puedes romper este acuerdo en cualquier momento.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}