body {
	background: url(/img/bg.jpg) repeat-y top right,
				url(/img/dbg.jpg) repeat top left;
	color: #646464;
	border: none;
	background-color: #0a0c0e;
}

/* Header Section
=================================================================== */

.navbar-inner {
  	min-height: 40px;
  	padding-right: 20px;
  	padding-left: 20px;
	background: url(/img/dbg.jpg);
	border-left: 0px solid #0a0c0e;
	border-right: 0px solid #0a0c0e;
	border-top: 1px solid #0a0c0e;
  	border-bottom: 2px solid #0a0c0e;
	filter: none;
	text-shadow: 1px 1px 1px #0a0c0e;
	color: #fff;
  	-webkit-border-radius: 0px;
       -moz-border-radius: 0px;
          	border-radius: 0px;
  	*zoom: 1;
  	-webkit-box-shadow: 0 4px 0 rgba(0,0,0,.1);
	   -moz-box-shadow: 0 4px 0 rgba(0,0,0,.1);
            box-shadow: 0 4px 0 rgba(0,0,0,.1);
	position: relative;
	z-index: 2;
}

.navbar-inner a {
	color: #646464;
}

.navbar-inner a i {
	opacity: .8;
}

.navbar-inner a:hover i {
	opacity: 1;
}

.brand img {
	margin: -12px 0px -5px 0px;
}

a.brand span {
	color: #fff;
	text-shadow: 1px 1px 2px #0a0c0e;
}

.header-nav {
	border-right: 1px solid #0a0c0e;
	border-left: 1px solid #212121;
	padding: 0px;
	color: #fff !important;
}

.header-nav .nav {
	margin: 0px;
}
.header-nav .btn {
  	display: inline-block;
  	padding: 11px 20px;
	margin-top: 0px;
  	margin-left: 0px;
  	font-size: 14px;
  	line-height: 20px;
  	text-align: center;
  	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  	vertical-align: middle;
  	cursor: pointer;
  	background: transparent;
  	border-left: 1px solid #0a0c0e;
	border-right: 1px solid #212121;
	border-top: 0px solid #bbbbbb;
	border-bottom: 0px solid #bbbbbb;
  	-webkit-border-radius: 0px;
       -moz-border-radius: 0px;
          	border-radius: 0px;
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
}

.header-nav .btn i {
	text-shadow: 0px 1px 1px #0a0c0e !important;
}

.header-nav .btn .caret {
	border-top-color: #ddd !important;
	border-bottom-color: #ddd !important;
}

.header-nav .btn:hover .caret {
	border-top-color: #fff !important;
	border-bottom-color: #fff !important;
}


#under-header {
	margin: -20px 0px 20px 0px;
	border-top: px solid #fcfcfc;
}

.progressBar {
		width: 400px;
		height: 22px;
		border: 1px solid #111;
		background-color: #292929;
}

.progressBar div {
		height: 100%;
		color: #fff;
		text-align: right;
		line-height: 22px; /* same as #progressBar height if we want text middle aligned */
		width: 0;
		background-color: #0099ff;
}

/* FooTables */
.footable > tbody > tr:hover {
  background: #dddddd;
}

.footable > thead > tr > th, .footable > thead > tr > td, .footable > tfoot > tr > th, .footable > tfoot > tr > td {
  background-color: #FAFAFA;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#EFEFEF));
  background-image: -webkit-linear-gradient(top, #FAFAFA, #EFEFEF);
  background-image: -moz-linear-gradient(top, #FAFAFA, #EFEFEF);
  background-image: -ms-linear-gradient(top, #FAFAFA, #EFEFEF);
  background-image: -o-linear-gradient(top, #FAFAFA, #EFEFEF);
  background-image: linear-gradient(to bottom, #FAFAFA, #EFEFEF);
  color: #888;
}

.footable-nav li a {
    color: #888;
}

.footable {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}