{% extends "FriendBundle::layout.html.twig" %}
{% block content %}
<h1>FriendRequest creation</h1>

<form action="{{ path('frequest_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('frequest_sended') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}