<div class="forgot">
    {% trans %}Forgot Password?{% endtrans %}
    {% trans %}No problem{% endtrans %}, <a href="{{ path("fos_user_resetting_request") }}" class="ajaxy">{% trans %}click here{% endtrans %}</a> {% trans %}to get a new password{% endtrans %}.
</div>