<div class="forgot">
    {% trans %}Forgot Password?{% endtrans %}
    {% trans %}No problem{% endtrans %}, <a href="{{ path("fos_user_resetting_request") }}" class="ajaxy" title="{{'reseting.title'|trans({},'MainBundle')}}">{% trans %}click here{% endtrans %}</a> {% trans %}to get a new password{% endtrans %}.
</div>