<hr>
<h3>{% trans %}Want a New Account ?{% endtrans %}</h3>
<p>
    {% trans %}No problem{% endtrans %}, <a href="{{ path("fos_user_registration_register") }}" class="ajaxy">{% trans %}click here{% endtrans %}</a>.
</p>