/* PERIODS */
.datepicker {
  z-index: 1151 !important; }

.responsive-calendar .day a {
  cursor: default; }
.responsive-calendar .day .badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent; }

#periods {
  border: 2px solid #cccccc;
  padding: 10px;
  border-radius: 10px; }
  #periods .periodContainer + .periodContainer {
    border-top: 1px dotted #cccccc; }
  #periods .sort {
    white-space: nowrap;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 15px; }
    #periods .sort:hover {
      text-decoration: underline; }
    #periods .sort span {
      display: inline-block;
      margin-left: 5px; }

.icon-none {
  visibility: hidden; }
